{% extends "base.html" %}
{% block content %}
<div class="container">
    <table class="table table-striped">
        <tr class="text-center">
            <th>FirstName</th>
            <th>SurName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Address</th>
            <th></th>
        </tr>
        {% for show in shows %}

        <tr class="text-center">


            <td>{{ show.first }}</td>
            <td>{{ show.sur }}</td>
            <td>{{ show.last }}</td>
            <td>{{ show.email }}</td>
            <td>{{ show.phone }}</td>
            <td>{{ show.gender }}</td>
            <td>{{ show.date }}</td>
            <td>{{ show.address }}</td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}