{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="container pl-5">
     <div class="content-section pl-5">
         <form method="post" style="width:40%" class="pt-5 pl-5">
             {% csrf_token %}
             <fieldset class="form-group pl-5">
                 <legend class="border-bottom mr-4">Log In</legend>
                 {{ form | crispy }}
             </fieldset>
              <div class="form-group pl-5">
                  <button class="btn btn-outline-info " type="submit">Sign In</button>
              </div>
         </form>
     </div>
 </div>
{% endblock%}